*{
    padding: 0px;
    margin: 0px;
}
.container{
    height: 400px;
    width: 600px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
    border: 1px solid black;
    border-radius: 10%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    
    
}
/* h1,#msg,.your_guesses,#guess,#previous,#remaining{
    margin:30px;
    display:block;
}
#button{
    display: block;
    margin: 30px;
    position: absolute;
    align-self: auto;
} */



